.front > div h1 {
	position: absolute;
	top: 50%;
	bottom: 50%;
	right: 0;
	left: 0;
	text-align: center;
	margin: 0;
	font-size: 32px;
	margin-top: -16px;
}
body.osx iframe {
    padding-top: 1px;
    -webkit-box-shadow: hsla(0, 0%, 0%, 0.2) 0 1px 0 inset;
}